.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: stretch;
}

.product img {
  height: 200px;
  object-fit: contain;
  width: 100%;
}

.product h2 {
  font-size: 1.25em
}